!.*.demo
!.*.example
!.*.sample
*.bak
*.cache
*.db
*.log*
*.new
*.old
*.sublime-*
*.sw[op]
*.tmp
*_reports
*temp
*tmp
*~
.*cache
.*output
.DS_Store
.archive*
.classpath
.claude
.env
.env.*
.lighthouse*
.npm
.outdated
.project
.settings
.yarn
bower_components
build
coverage
dist
logs
node_modules
