fetch-timeout=60000                  # Set a reasonable timeout for network requests
loglevel=warn                        # Enable detailed logging for troubleshooting
package-lock=true                    # Use package-lock.json for consistent installs
registry=https://registry.npmjs.org/ # Use latest registry
save-exact=true                      # Force npm to use exact versions when saving dependencies
save=true                            # Automatically save dependencies when installing
