node_modules/
dist/
build/
coverage/
.git/
.svn/
.hg/
package-lock.json
pnpm-lock.yaml
yarn.lock
*.min.js
*.min.css
*.map
*.log
.DS_Store
Thumbs.db
.env
.env.*
*.cache
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test/
*.tsbuildinfo
reports/
tmp/
temp/