<section id="contact" class="container fade-in">
  <div class="contact-content">
    <div class="contact-info">
      <h3 data-i18n="contact.title"></h3>
      <p data-i18n="contact.subtitle"></p>
      <ul>
        <li>
          <lc-icon name="call" size="small" color="primary"></lc-icon>
          <a href="tel:+1-800-555-1212" data-i18n="contact.phone"></a>
        </li>
        <li>
          <lc-icon name="message" size="small" color="primary"></lc-icon>
          <a
            href="mailto:info@legacyconcierge.com"
            data-i18n="contact.email"
          ></a>
        </li>
        <li>
          <lc-icon name="location" size="small" color="primary"></lc-icon>
          <span data-i18n="contact.address"></span>
        </li>
      </ul>
    </div>
    <div class="contact-form">
      <h3 data-i18n="contact.formTitle"></h3>
      <form
        action="https://submit.jotform.com/submit/251417342521044"
        method="post"
        name="form_251417342521044"
        id="251417342521044"
        accept-charset="utf-8"
        autocomplete="on"
        novalidate="true"
      >
        <input type="hidden" name="formID" value="251417342521044" />
        <div class="form-group">
          <input
            type="text"
            id="input_3"
            name="q3_clientfirstname"
            class="form-textbox"
            placeholder=" "
            required
          />
          <label
            for="input_3"
            class="form-label"
            data-i18n="contact.form.firstName"
          ></label>
        </div>
        <div class="form-group">
          <input
            type="text"
            id="input_4"
            name="q4_clientlastname"
            class="form-textbox"
            placeholder=" "
            required
          />
          <label
            for="input_4"
            class="form-label"
            data-i18n="contact.form.lastName"
          ></label>
        </div>
        <div class="form-group">
          <input
            type="email"
            id="input_5"
            name="q5_clientemail"
            class="form-textbox"
            placeholder=" "
            required
          />
          <label
            for="input_5"
            class="form-label"
            data-i18n="contact.form.email"
          ></label>
        </div>
        <div class="form-group">
          <input
            type="tel"
            id="input_6"
            name="q6_clientphone"
            class="form-textbox"
            placeholder=" "
            required
          />
          <label
            for="input_6"
            class="form-label"
            data-i18n="contact.form.phone"
          ></label>
        </div>
        <div class="form-group">
          <textarea
            id="input_7"
            class="form-textarea"
            name="q7_inquiryaddtionaldetails"
            placeholder=" "
            required
          ></textarea>
          <label
            for="input_7"
            class="form-label"
            data-i18n="contact.form.message"
          ></label>
        </div>
        <button
          id="input_2"
          type="submit"
          class="cta-button"
          data-i18n="contact.form.submit"
        ></button>
      </form>
    </div>
  </div>
</section>
