<ul id="main-nav">
  <li>
    <a href="/" data-i18n="navigation.home">Home</a>
  </li>

  <!-- About Dropdown -->
  <li class="dropdown">
    <a
      href="../../../pages/about"
      data-i18n="navigation.about.about"
      aria-haspopup="true"
      aria-expanded="false"
      >About</a
    >
    <ul class="dropdown-menu">
      <li>
        <a
          href="../../../pages/about/contact"
          data-i18n="navigation.about.contact"
          aria-haspopup="true"
          aria-expanded="false"
        ></a>
        <ul class="dropdown-submenu">
          <li>
            <a
              href="../../../pages/about/contact/locations"
              data-i18n="navigation.about.contact.locations"
            ></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="../../../pages/about/jobs" data-i18n="navigation.about.jobs"></a>
      </li>
      <li>
        <a
          href="../../../pages/about/legal"
          data-i18n="navigation.about.legal"
          aria-haspopup="true"
          aria-expanded="false"
        ></a>
        <ul class="dropdown-submenu">
          <li>
            <a
              href="../../../pages/about/legal/privacy"
              data-i18n="navigation.about.legal.privacy"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/about/legal/terms"
              data-i18n="navigation.about.legal.terms"
            ></a>
          </li>
        </ul>
      </li>
      <li>
        <a
          href="../../../pages/about/partners"
          data-i18n="navigation.about.partners"
        ></a>
      </li>
      <li>
        <a href="../../../pages/about/team" data-i18n="navigation.about.team"></a>
      </li>
    </ul>
  </li>

  <!-- Blog Dropdown -->
  <li class="dropdown">
    <a
      href="../../../pages/blog"
      data-i18n="navigation.blog.blog"
      aria-haspopup="true"
      aria-expanded="false"
      >Blog</a
    >
    <ul class="dropdown-menu">
      <li>
        <a
          href="../../../pages/blog/post"
          data-i18n="navigation.blog.post"
          aria-haspopup="true"
          aria-expanded="false"
        ></a>
        <ul class="dropdown-submenu">
          <li>
            <a
              href="../../../pages/blog/post/post-op-care"
              data-i18n="navigation.blog.post.postOpCare"
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <!-- Demos Dropdown -->
  <li class="dropdown">
    <a
      href="../../../pages/demos"
      data-i18n="navigation.demos.demos"
      aria-haspopup="true"
      aria-expanded="false"
      >Demos</a
    >
    <ul class="dropdown-menu">
      <li>
        <a
          href="../../../pages/demos/blog"
          data-i18n="navigation.demos.blog"
          aria-haspopup="true"
          aria-expanded="false"
        ></a>
        <ul class="dropdown-submenu">
          <li>
            <a
              href="../../../pages/demos/blog/post"
              data-i18n="navigation.demos.blog.post"
            ></a>
          </li>
        </ul>
      </li>
      <li>
        <a
          href="../../../pages/demos/components"
          data-i18n="navigation.demos.components"
        ></a>
      </li>
      <li>
        <a
          href="../../../pages/demos/entry"
          data-i18n="navigation.demos.entry"
          aria-haspopup="true"
          aria-expanded="false"
        ></a>
        <ul class="dropdown-submenu">
          <li>
            <a
              href="../../../pages/demos/entry/landing"
              data-i18n="navigation.demos.entry.landing"
            ></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="../../../pages/demos/hero" data-i18n="navigation.demos.hero"></a>
      </li>
      <li>
        <a
          href="../../../pages/demos/subpage"
          data-i18n="navigation.demos.subpage"
          aria-haspopup="true"
          aria-expanded="false"
        ></a>
        <ul class="dropdown-submenu">
          <li>
            <a
              href="../../../pages/demos/subpage/contact"
              data-i18n="navigation.demos.subpage.contact"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/demos/subpage/gallery"
              data-i18n="navigation.demos.subpage.gallery"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/demos/subpage/sidebar"
              data-i18n="navigation.demos.subpage.sidebar"
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <!-- Services Dropdown -->
  <li class="dropdown">
    <a
      href="../../../pages/services"
      data-i18n="navigation.services.services"
      aria-haspopup="true"
      aria-expanded="false"
      >Services</a
    >
    <ul class="dropdown-menu">
      <li>
        <a
          href="../../../pages/services/expertise"
          data-i18n="navigation.services.expertise.expertise"
          aria-haspopup="true"
          aria-expanded="false"
          >Expertise</a
        >
        <ul class="dropdown-submenu">
          <li>
            <a
              href="../../../pages/services/expertise/views/als"
              data-i18n="navigation.services.expertise.als"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/alzheimers"
              data-i18n="navigation.services.expertise.alzheimers"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/dementia"
              data-i18n="navigation.services.expertise.dementia"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/diabetes-management"
              data-i18n="navigation.services.expertise.diabetes"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/heart-disease"
              data-i18n="navigation.services.expertise.heart"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/ms"
              data-i18n="navigation.services.expertise.ms"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/oncology"
              data-i18n="navigation.services.expertise.oncology"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/ostomy-management"
              data-i18n="navigation.services.expertise.ostomy"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/parkinsons"
              data-i18n="navigation.services.expertise.parkinsons"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/stroke-recovery"
              data-i18n="navigation.services.expertise.stroke"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/expertise/views/tbi"
              data-i18n="navigation.services.expertise.tbi"
            ></a>
          </li>
        </ul>
      </li>
      <li>
        <a
          href="../../../pages/services/treatments"
          data-i18n="navigation.services.treatments.treatments"
          aria-haspopup="true"
          aria-expanded="false"
          >Treatments</a
        >
        <ul class="dropdown-submenu">
          <li>
            <a
              href="../../../pages/services/treatments/views/cardiac-pulmonary"
              data-i18n="navigation.services.treatments.cardiac"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/treatments/views/eating-disorders"
              data-i18n="navigation.services.treatments.eating"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/treatments/views/iv-therapy"
              data-i18n="navigation.services.treatments.iv"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/treatments/views/mental-health"
              data-i18n="navigation.services.treatments.mental"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/treatments/views/pain-management"
              data-i18n="navigation.services.treatments.pain"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/treatments/views/post-op-recovery"
              data-i18n="navigation.services.treatments.postOp"
            ></a>
          </li>
          <li>
            <a
              href="../../../pages/services/treatments/views/rehab-addiction"
              data-i18n="navigation.services.treatments.rehab"
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <!-- Theme Toggle -->
  <li>
    <button
      class="theme-toggle"
      data-i18n-attr="aria-label:accessibility.toggleTheme"
    >
      <span class="icon icon-light" data-i18n="theme.light"></span>
      <span class="icon icon-dark" data-i18n="theme.dark"></span>
    </button>
  </li>

  <!-- Language Toggle -->
  <li>
    <button
      class="language-toggle"
      data-i18n-attr="aria-label:accessibility.switchLanguage"
    >
      <span data-i18n="language.current"></span>
      <span>→</span>
      <span data-i18n="language.switch"></span>
    </button>
  </li>
</ul>
